<div class="banner">
    about the node backbone boilerplate
</div>
<div style="width: 400px">
    A boilerplate for starting Node.js/Backbone applications.  Includes a gulp process for bundling JS and compiling LESS files.
    <ul>
        <li>
            <a href="https://bitbucket.org/yuliy/node-backbone-boilerplate" target="_blank">view on bitbucket</a>
        </li>
        <li>
            <a href="https://twitter.com/yuliyvig" target="_blank">follow me @yuliyvig</a>
        </li>
    </ul>
</div>