/* Imports */
@import "variables.less";

/* General Tag Override Definitions */
body
{
    padding: 20px;
    font: 14px Helvetica, Arial, sans-serif;
}

a
{
    color: @linkColor;
}

/* Primary Definitions */
#header
{
    width: 850px;

    padding: 4px 10px 20px 4px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-width: 1px 0px 1px 0px;
}

.banner
{
    font-size: 1.4em;
    padding-bottom: 20px;
}

/* General Button Definition */
.button
{
    &:hover {
    	opacity: @opacityMin;
    	cursor: pointer;
    }
}

/* Navigation Button Definitions */
#home_button
{
    display: inline-block;
    float: left;
}

#about_button
{
    display: inline-block;
    float: right;
}